.background {
  viewport-fill: black;
}

#It {
  x: 30;
  y: 25;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#Is {
  x: 90;
  y: 25;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#Half {
  x: 150;
  y: 25;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#Ten1 {
  x: 255;
  y: 25;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}


#Quarter {
  x: 28;
  y: 55;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#Twenty {
  x: 192;
  y: 55;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}


#Five1 {
  x: 30;
  y: 85;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#Minutes {
  x: 115;
  y: 85;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#To {
  x: 272;
  y: 85;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}


#Past {
  x: 30;
  y: 115;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#One {
  x: 130;
  y: 115;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#Three {
  x: 220;
  y: 115;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}


#Two {
  x: 30;
  y: 145;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#Four {
  x: 135;
  y: 145;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#Five2 {
  x: 248;
  y: 145;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}


#Six {
  x: 30;
  y: 175;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#Seven {
  x: 98;
  y: 175;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#Eight {
  x: 228;
  y: 175;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}


#Nine {
  x: 30;
  y: 205;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#Ten2 {
  x: 115;
  y: 205;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#Eleven {
  x: 204;
  y: 205;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}


#Twelve {
  x: 30;
  y: 235;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}#Clock {
  x: 186;
  y: 235;
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  fill: white;
}